.img2 {
	height: 100px;
	width: 150px;
	float: right;
	margin-left: 150px;
} 
.img3 {
	height: 100px;
	width: 100px;
	float: left;
	margin-left: 80px;
} 
.caja{
	border: 2px solid black; 
	border-right-width: 4px;
	border-left-width: 4px;
	background: #fff;
	height: 70px;
	width: 300px;
	float: right;
	border-radius: 1em;
	margin-top:40px; 
}
.fuente{
	font: 34px arial;
	text-align: center;
	margin-top: 4px;
}

.interno1{
	border-right-style: solid;
	border-right-width: 1px;
	height: 38px;
	width: 250px;
	float: left;
}
.interno2{
	border-right-style: solid;
	border-right-width: 1px;
	height: 38px;
	width: 250px;
	float: left;

}

.int2{
	border-right-style: solid;
	border-right-width: 1px;
	height: 18px;
	width: 70px;
	float: left;
	font: 10px arial;
	
}
.int3{
	height: 18px;
	width: 100px;
	float: left;
	font: 10px arial;
    
}
.interno3{

	border-right-style: solid;
	border-right-width: 1px;
	height: 38px;
	width: 550px;
	float: left;
}
.interno4{

	height: 38px;
	width: 150px;
	float: left;
}
.caja1{
	border: 1px solid black;
	border-right-width: 3px;
	border-left-width: 3px;
	background: #efeff1;
	height: 40px;
	width: 1250px;
	float: right;
	border-radius: 0.5em;
	margin-top: 5px;	
}

.caja2{
	border: 1px solid black;
	border-right-width: 3px;
	border-left-width: 3px;
	background: #fff;
	height: 35px;
	width: 1250px;
	float: right;
	border-radius: 0.5em;
	margin-top: 5px;
}

.caja2-1{
	background: #d0d1d5;
	height: 31px;
	width: 1245px;
	float: right;
	border-radius: 0.5em;
	margin-left: 2px;
	margin-top: 2px;
	
}
.fuent1{
	font: 12px arial;
	text-align: center;
	color: #fff;
	height: 29px;
	width: 410px;
	float: left;
	
}

.fuent2{
	font: 20px arial;
	text-align: center;
	font-style: bold;
	color: #fff;
	height: 29px;
	width: 410px;
	float: left;
	margin-top: 3px;
}

.fuent3{
	font: 12px arial;
	text-align: center;
	color: #fff;
	height: 29px;
	width: 410px;
	float: right;
}
.img1 {
	float:right;
	height: 255px;
	width: 155px;
	margin-top: 5px;
	margin-right: 45px;
}

.caja3{
	border: 1px solid black;
	border-right-width: 3px;
	border-left-width: 3px;
	background: #fff;
	height: 260px;
	width: 1040px;
	float: right;
	border-top-right-radius: 0.5em;
	border-top-left-radius: 0.5em;
	margin-top: 5px;
	margin-right: 10px;
}

.caja3-1 {
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 300px;
	float: left;
}

.caja3-2 {
	
	height: 50px;
	width: 400px;
	float: left;
}

.caja3-3 {

	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 610px;
	float: left;
}

.caja3-4 {

	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 210px;
	float: left;
}

.caja3-5 {

	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 217px;
	float: left;
}

.caja3-6 {

	border-top-style: solid;
	border-top-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 560px;
	float: left;
}
.caja3-7 {

	border-top-style: solid;
	border-top-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 260px;
	float: left;
}

.caja3-8 {

	border-top-style: solid;
	border-top-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 580px;
	float: left;
}
.caja3-9 {

	border-top-style: solid;
	border-top-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 240px;
	float: left;
}
.caja3-10 {

	border-top-style: solid;
	border-top-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 570px;
	float: left;
}
.caja3-11 {

	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 467px;
	float: left;
}
.caja4{

    border: 1px solid black;
	border-right-width: 3px;
	border-left-width: 3px;
	background: #fff;
	height: 105px;
	width: 1250px;
	float: right;
	border-top-right-radius: 0.5em;
	border-bottom-left-radius: 0.5em;
	border-bottom-right-radius: 0.5em;
	margin-top: 0px;
}

.caja4-1{

	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 300px;
	float: left;

}

.caja4-2{

	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 150px;
	float: left;
	
}
.caja4-3{

	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 400px;
	float: left;
}
.caja4-4{

	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 200px;
	float: left;
	
}
.caja4-5{

	height: 50px;
	width: 196px;
	float: left;
}

.caja4-6{

	border-top-style: solid;
	border-top-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	height: 51px;
	width: 280px;
	float: left;
	
}
.caja4-7{

	border-top-style: solid;
	border-top-width: 1px;
	border-right-style: solid;
	border-right-width: 1px;
	height: 51px;
	width: 650px;
	float: left;
	
}

.caja4-7-1{
	height: 48px;
	width: 110px;
	float: right;
}

.caja4-8{

	border-top-style: solid;
	border-top-width: 1px;
	height: 51px;
	width: 312px;
	float: left;
	
}
.caja5{
	border: 1px solid black;
	border-right-width: 3px;
	border-left-width: 3px;
	background: #fff;
	height: 35px;
	width: 1250px;
	float: right;
	border-radius: 0.5em;
	margin-top: 5px;
	
}
.caja5-1{
	background: #d0d1d5;
	height: 31px;
	width: 1245px;
	float: right;
	border-radius: 0.5em;
	margin-left: 2px;
	margin-top: 2px;
}	

.caja5-1-1{
	font: 20px arial;
	text-align: center;
	color: #fff;
	height: 29px;
	width: 410px;
	float: left;
	margin-top: 3px;
	margin-left: 400px;
}

.caja6{
	border: 1px solid black;
	border-right-width: 3px;
	border-left-width: 3px;
	background: #fff;
	height: 255px;
	width: 1250px;
	float: right;
	border-radius: 0.5em;
	margin-top: 3px;

}

.caja6-1{
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 100px;
	float: left;
}
.caja6-2 {
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 500px;
	float: left;
}

.caja6-3 {
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 250px;
	float: left;
}

.caja6-4 {
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 200px;
	float: left;
}

.caja6-5{

	height: 50px;
	width: 196px;
	float: left;
}

.caja6-6 {

	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 100px;
	float: left;
}
.caja6-7 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 500px;
	float: left;
}

.caja6-8 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 250px;
	float: left;
}

.caja6-9 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 200px;
	float: left;
}

.caja6-10{

	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 196px;
	float: left;
}


.caja6-11 {

	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 100px;
	width: 100px;
	float: left;
}
.caja6-12 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 500px;
	float: left;
}

.caja6-13 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 250px;
	float: left;
}

.caja6-14 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 200px;
	float: left;
}

.caja6-15 {

	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 196px;
	float: left;
}

.caja6-16 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 650px;
	float: left;
}

.caja6-17 {

	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 498px;
	float: left;
}
	
.caja6-18 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 950px;
	float: left;
}

.caja6-19 {

	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 299px;
	float: left;
}

.caja7{
	border: 1px solid black;
	border-right-width: 3px;
	border-left-width: 3px;
	background: #fff;
	height: 35px;
	width: 1250px;
	float: right;
	border-radius: 0.5em;
	margin-top: 5px;
	
}
.caja7-1{
	background: #d0d1d5;
	height: 31px;
	width: 1245px;
	float: right;
	border-radius: 0.5em;
	margin-left: 2px;
	margin-top: 2px;
}	

.caja7-1-1{
	font: 20px arial;
	text-align: center;
	color: #fff;
	height: 29px;
	width: 410px;
	float: left;
	margin-top: 3px;
	margin-left: 400px;
}

.caja8{
	border: 1px solid black;
	border-right-width: 3px;
	border-left-width: 3px;
	background: #fff;
	height: 335px;
	width: 1250px;
	float: right;
	border-radius: 0.5em;
	margin-top: 3px;

}

.caja8-1 {
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 560px;
	float: left;
}

.caja8-2 {
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 450px;
	float: left;
}

.caja8-3{

	height: 50px;
	width: 196px;
	float: left;
}

.caja8-4 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 560px;
	float: left;
}

.caja8-5{
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 689px;
	float: left;
}

.caja8-6{
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 1250px;
	float: left;
}

.caja8-7{
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 1250px;
	float: left;
}

.caja8-8 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 312px;
	float: left;
}

.caja8-9 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 312px;
	float: left;
}

.caja8-10 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 312px;
	float: left;
}


.caja8-11{
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 311px;
	float: left;
}

.caja8-12{
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 1250px;
	float: left;
}

.caja8-13{
	border-top-style: solid;
	border-top-width: 1px;
	height: 30px;
	width: 1250px;
	float: left;
}

.caja8-14{
	background: #d0d1d5;
	height: 25px;
	width: 1248px;
	float: right;
	border-radius: 0.5em;
	margin-left: 2px;
	margin-top: 2px;
}	

.caja9{
	border: 1px solid black;
	border-right-width: 3px;
	border-left-width: 3px;
	background: #fff;
	height: 335px;
	width: 1250px;
	float: right;
	border-radius: 0.5em;
	margin-top: 3px;

}

.caja9-1 {
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 560px;
	float: left;
}

.caja9-2 {
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 450px;
	float: left;
}

.caja9-3{

	height: 50px;
	width: 196px;
	float: left;
}


.caja9-4 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 560px;
	float: left;
}

.caja9-5{
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 689px;
	float: left;
}

.caja9-6{
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 1250px;
	float: left;
}

.caja9-7{
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 1250px;
	float: left;
}

.caja9-8 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 312px;
	float: left;
}

.caja9-9 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 312px;
	float: left;
}

.caja9-10 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 312px;
	float: left;
}


.caja9-11{
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 311px;
	float: left;
}

.caja9-12{
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 1250px;
	float: left;
}

.caja9-13{
	border-top-style: solid;
	border-top-width: 1px;
	height: 30px;
	width: 1250px;
	float: left;
}

.caja9-14{
	background: #d0d1d5;
	height: 25px;
	width: 1248px;
	float: right;
	border-radius: 0.5em;
	margin-left: 2px;
	margin-top: 2px;
}	

.caja10{
	border: 1px solid black;
	border-right-width: 3px;
	border-left-width: 3px;
	background: #fff;
	height: 35px;
	width: 1250px;
	float: right;
	border-radius: 0.5em;
	margin-top: 5px;
}

.caja10-1{
	background: #d0d1d5;
	height: 31px;
	width: 1245px;
	float: right;
	border-radius: 0.5em;
	margin-left: 2px;
	margin-top: 2px;
	
}

.fuent10{
	font: 20px arial;
	text-align: center;
	font-style: bold;
	color: #fff;
	height: 29px;
	width: 410px;
	float: left;
	margin-top: 3px;
}

.fuent10-1{
	font: 15px arial;
	text-align: center;
	color: #fff;
	height: 29px;
	width: 811px;
	float: right;
	margin-top: 7px;
}

.caja11{
	border: 1px solid black;
	border-right-width: 3px;
	border-left-width: 3px;
	background: #fff;
	height: 200px;
	width: 1250px;
	float: right;
	border-radius: 0.5em;
	margin-top: 3px;

}

.caja12{
	border: 1px solid black;
	border-right-width: 3px;
	border-left-width: 3px;
	background: #fff;
	height: 35px;
	width: 1250px;
	float: right;
	border-radius: 0.5em;
	margin-top: 5px;
	
}
.caja12-1{
	background: #d0d1d5;
	height: 31px;
	width: 1245px;
	float: right;
	border-radius: 0.5em;
	margin-left: 2px;
	margin-top: 2px;
}	

.caja12-1-1{
	font: 20px arial;
	text-align: center;
	color: #fff;
	height: 29px;
	width: 410px;
	float: left;
	margin-top: 3px;
	margin-left: 400px;
}

.caja13{
	border: 1px solid black;
	border-right-width: 3px;
	border-left-width: 3px;
	background: #fff;
	height: 250px;
	width: 1250px;
	float: right;
	border-radius: 0.5em;
	margin-top: 3px;
}
.caja13-1 {
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 500px;
	float: left;
}
.caja13-2 {
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 340px;
	float: left;
}
.caja13-3{

	height: 50px;
	width: 220px;
	float: left;
}

.caja13-4 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 378px;
	float: left;
}

.caja13-5 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 360px;
	float: left;
}

.caja13-6 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 250px;
	float: left;
}
.caja13-7{
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 259px;
	float: left;
}

.caja13-8 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 378px;
	float: left;
}

.caja13-9 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 577px;
	float: left;
}
.caja13-10{
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 293px;
	float: left;
}

.caja13-11 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 625px;
	float: left;
}
.caja13-12{
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 624px;
	float: left;
}

.caja13-13 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 46px;
	width: 625px;
	float: left;
}
.caja13-14{
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 624px;
	float: left;
}

.caja14{
	border: 1px solid black;
	border-right-width: 3px;
	border-left-width: 3px;
	background: #fff;
	height: 35px;
	width: 1250px;
	float: right;
	border-radius: 0.5em;
	margin-top: 5px;
}

.caja14-1{
	background: #d0d1d5;
	height: 31px;
	width: 1245px;
	float: right;
	border-radius: 0.5em;
	margin-left: 2px;
	margin-top: 2px;
	
}

.fuent14{
	font: 20px arial;
	text-align: center;
	font-style: bold;
	color: #fff;
	height: 29px;
	width: 410px;
	float: left;
	margin-top: 3px;
}

.fuent14-1{
	font: 15px arial;
	text-align: center;
	color: #fff;
	height: 29px;
	width: 811px;
	float: right;
	margin-top: 7px;
}

.caja15{
	border: 1px solid black;
	border-right-width: 3px;
	border-left-width: 3px;
	background: #fff;
	height: 100px;
	width: 1250px;
	float: right;
	border-radius: 0.5em;
	margin-top: 3px;
}
.caja15-1 {
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 50px;
	float: left;
}
.caja15-2 {
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 406px;
	float: left;
}

.caja15-3 {
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 250px;
	float: left;
}
.caja15-4 {
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 320px;
	float: left;
}
.caja15-5{

	height: 50px;
	width: 220px;
	float: left;
}

.caja15-6 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 50px;
	float: left;
}

.caja15-7 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 406px;
	float: left;
}

.caja15-8 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 250px;
	float: left;
}

.caja15-9 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 320px;
	float: left;
}
.caja15-10{
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 220px;
	float: left;
}

.caja16{
	border: 1px solid black;
	border-right-width: 3px;
	border-left-width: 3px;
	background: #fff;
	height: 35px;
	width: 1250px;
	float: right;
	border-radius: 0.5em;
	margin-top: 5px;
	
}
.caja16-1{
	background: #d0d1d5;
	height: 31px;
	width: 1245px;
	float: right;
	border-radius: 0.5em;
	margin-left: 2px;
	margin-top: 2px;
}	

.caja16-1-1{
	font: 20px arial;
	text-align: center;
	color: #fff;
	height: 29px;
	width: 410px;
	float: left;
	margin-top: 3px;
	margin-left: 400px;
}

.caja17{
	border: 1px solid black;
	border-right-width: 3px;
	border-left-width: 3px;
	background: #fff;
	height: 150px;
	width: 1250px;
	float: right;
	border-radius: 0.5em;
	margin-top: 3px;
}

.caja17-1 {
	height: 50px;
	width: 300px;
	float: left;
}

.caja17-2{
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 325px;
	float: left;
}

.caja17-3{
	height: 50px;
	width: 624px;
	float: left;
}

.caja17-4 {
	border-right-style: solid;
	border-right-width: 1px;
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 625px;
	float: left;
}

.caja17-5{
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 624px;
	float: left;
}

.caja17-6{
	border-top-style: solid;
	border-top-width: 1px;
	height: 50px;
	width: 1250px;
	float: left;
}


.caja18{
	border: 1px solid black;
	border-right-width: 3px;
	border-left-width: 3px;
	background: #fff;
	height: 150px;
	width: 1250px;
	float: right;
	border-radius: 0.5em;
	margin-top: 3px;
}

.caja18-1{
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 420px;
	float: left;
}
.caja18-2{
	border-right-style: solid;
	border-right-width: 1px;
	height: 50px;
	width: 420px;
	float: left;
}

.caja18-3{

	height: 50px;
	width: 400px;
	float: left;
}

.caja18-4{
	border-right-style: solid;
	border-right-width: 1px;
	height: 100px;
	width: 420px;
	float: left;
}
.caja18-5{
	border-right-style: solid;
	border-right-width: 1px;
	height: 100px;
	width: 420px;
	float: left;
}

.caja18-6{

	height: 100px;
	width: 400px;
	float: left;
}


.caja19{
	border: 1px solid black;
	border-right-width: 3px;
	border-left-width: 3px;
	background: #fff;
	height: 35px;
	width: 1250px;
	float: right;
	border-radius: 0.5em;
	margin-top: 5px;
}

.caja19-1{
	background: #d0d1d5;
	height: 31px;
	width: 1245px;
	float: right;
	border-radius: 0.5em;
	margin-left: 2px;
	margin-top: 2px;
	
}

.fuent19{
	font: 20px arial;
	text-align: center;
	font-style: bold;
	color: #fff;
	height: 29px;
	width: 510px;
	float: left;
	margin-top: 3px;
}

.fuent19-1{
	font: 15px arial;
	text-align: center;
	color: #fff;
	height: 29px;
	width: 611px;
	float: right;
	margin-top: 7px;
}
