.cuerpo{
	font-family: monospace;
	position: fixed;
	margin:50px;
	background-color: black;
	width: 240px;
	height: 225px;
}
.boton0{
	font-family: monospace;
	border-radius:15px 15px 15px 15px;
	position: absolute;
	top: 179px;
	background-color:white;
	width: 60px;
	height: 35px;
}
.boton1{
	font-family: monospace;
	border-radius:15px 15px 15px 15px; 	
	position: relative;
	top: 5px;
	background-color: white;
	width: 60px;
	height: 35px;
}
.boton2{
	font-family: monospace;
	border-radius:15px 15px 15px 15px; 
	position: relative;
	top: 5px;
	left: -5px;
	background-color: white;
	width: 60px;
	height: 35px;
}
.boton3{
	font-family: monospace;
	border-radius:15px 15px 15px 15px; 
	position: relative;
	top: 5px;
	left: -10px;
	background-color: white;
	width: 60px;
	height: 35px;
}
.boton4{
	font-family: monospace;
	border-radius:15px 15px 15px 15px; 
	position: relative;
	top: 10px;
	background-color: white;
	width: 60px;
	height: 35px;
}
.boton5{
	font-family: monospace;
	border-radius:15px 15px 15px 15px; 
	position: relative;
	top:11px;
	left: -5px;
	background-color: white;
	width: 60px;
	height: 35px;
}
.boton6{
	font-family: monospace;
	border-radius:15px 15px 15px 15px; 	
	position: relative;
	top: 12px;
	left: -10px;
	background-color: white;
	width: 60px;
	height: 35px;
}
.boton7{
	font-family: monospace;
	border-radius:15px 15px 15px 15px;
	position: relative;
	top: 16px;
	background-color: white;
	width: 60px;
	height: 35px;
}
.boton8{
	font-family: monospace;
	border-radius:15px 15px 15px 15px;
	position: relative;
	top: 16px;
	left: -5px;
	background-color: white;
	width: 60px;
	height: 35px;
}
.boton9{
	font-family: monospace;
	border-radius:15px 15px 15px 15px;
	position: relative;
	top: 16px;
	left: -10px;
	background-color: white;
	width: 60px;
	height: 35px;
}
.resultado{
	font-family: monospace;
	border-radius:15px 15px 15px 15px;	
	position: relative;
	top: -13px;
	left: 58px;
	background-color: teal;
	width: 60px;
	height: 35px;
}
.borrar{
	font-family: monospace;
	border-radius:15px 15px 15px 15px;	
	position: relative;
	top: -13px;
	left: 63px;
	background-color: teal;
	width: 60px;
	height: 35px;
}
.suma{
	font-family: monospace;
	border-radius:15px 15px 15px 15px;	
	position: relative;
	top: -100px;
	left: 190px;
	background-color: teal;
	width: 50px;
	height: 35px;
}
.resta{
	font-family: monospace;
	border-radius:15px 15px 15px 15px;	
	position: relative;
	top: -58px;
	left: 132px;
	background-color: teal;
	width: 50px;
	height: 35px;
}

.multiplicacion{
	font-family: monospace;
	border-radius:15px 15px 15px 15px;	
	position: relative;
	top: -19px;
	left: 74px;
	background-color: teal;
	width: 50px;
	height: 35px;
}
.division{
	font-family: monospace;
	border-radius:15px 15px 15px 15px;	
	position: relative;
	top: 22px;
	left: 16px;
	background-color: teal;
	width: 50px;
	height: 35px;
}
.visor{
	font-family: monospace;
	text-align: right;
	position: absolutee;
	background-color: teal;
	border:hidden;
	width: 240px;
	height: 50px;
}